# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Dataset videos
*.mp4
*.avi
*.mov
data/
handoffs/
ideal_shots/
TrackNetV3/
output_videos/
models/


# Large ML models
*.pt
*.safetensors
